<div class="h-dvh flex flex-col justify-center">
    <div class="max-w-md mx-auto bg-white shadow-lg rounded-2xl p-6">
        <h2 class="text-xl text-center font-semibold text-gray-800 mb-2">Verifica tu correo electrónico</h2>
        <p class="text-gray-600 mb-4">
            Hemos enviado un código de verificación a
            <span class="font-medium text-blue-600">{{ user?.email }}</span>
            . Por favor, introduce el código a continuación para completar tu registro.
        </p>

        <form class="space-y-4" [formGroup]="tokenForm" (ngSubmit)="onSubmit(tokenForm.value)">
            <input
                type="text"
                placeholder="Código de verificación"
                class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                formControlName="token_input"
            />
            @if (!isCorrectToken) {
            <p class="text text-center text-red-500">El código que ingresaste no es correcto.</p>
            }
            <button
                type="submit"
                class="w-full bg-blue-600 text-white font-medium py-2 rounded-lg hover:bg-blue-700 transition duration-200"
            >
                @if (isSignup) { Completar registro } @else { Confirmar }
            </button>
        </form>

        <div class="mt-4 text-center">
            <button class="text-sm text-blue-600 hover:underline cursor-pointer" (click)="setToken()">
                ¿No has recibido el código? Volver a enviar
            </button>
        </div>
    </div>
</div>
